.DS_Store
*.pyc
*.json
__pycache__/
*.env
.mypy_cache/

db/serverAssets/*                                                                                                                                                                                                                                                                                                    
!db/serverAssets/.gitkeep                                                                                                                                                                                                                                                                                            
db/serverEmojis/*                                                                                                                                                                                                                                                                                                    
!db/serverEmojis/.gitkeep 